<!DOCTYPE html>
<html>
  <head>
    <title>
	  {{ page.title}}
	</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" media="screen" href="/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" media="screen" href="/css/style.css" type="text/css" />
	<link href="{{ page.feed }}" rel="alternate" title="{{ site.title }}" type="application/atom+xml" />
  </head>
  <body>
		<div id="content">
			{{ content }}
		</div>
  </body>
</html>

